.post-content img {
    width     : 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.post-content .description {
    font-size: 16px;
}


.post-card {
    width: 59% !important;
    margin: auto !important;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5) !important;
}

.post-content {
    padding-bottom: 2rem !important;
}

.align-center {
    text-align: center;
    margin-top: 2rem;
}

.fixed-size{
    width: 20%;
}